---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout title="Welcome to Astro.">
  <Navigation />
  <article class="wrapper">
   <h1>A site bout something</h1>
  </article>
</Layout>